/*** nesting style 🖐 ✋ 🖖 🤘 🤞 🖕 👆 ☝  ****/

header {
    outline: 2px solid blueviolet;
    margin: 5px;
    padding: 10px;
    border: 3px solid tomato;
}


/*🖐*/

.navbar {
    background-color: rgba(144, 238, 144, 0.534);
    border-radius: 10px;
    overflow: hidden;
}

.navbar>a:hover,
.navbar .dropdown:hover .drop-btn {
    color: greenyellow;
    background-color: coral;
    cursor: pointer;
}

.navbar>a {
    float: left;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown a.drop-btn {
    display: block;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #551a8b;
}

.dropdown .dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    width: 50%;
    padding: 5px;
    background-color: rgba(153, 139, 165, 0.856);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-col {
    flex-basis: 33.3%;
    text-align: center;
}

.nav-col>a {
    display: block;
    border: 2px solid red;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-col a:hover {
    color: rgb(75, 230, 4);
}