/*** nesting style 🖐 ✋ 🖖 🤘 🤞 🖕 👆 ☝  ****/

header {
    background-color: darkturquoise;
    padding: 10px;
}

.navbar {
    background-color: lightgreen;
    overflow: hidden;
}

.navbar>a:hover,
.navbar .dropdown:hover .drop-btn {
    color: greenyellow;
    background-color: coral;
    cursor: pointer;
}

.navbar a {
    float: left;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .drop-btn {
    border: none;
    outline: none;
    padding: 5px;
    color: #551a8b;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    background-color: inherit;
}

.dropdown .dropdown-content {
    z-index: 2;
    display: none;
    position: absolute;
    width: 50%;
    padding: 5px;
    background-color: rgba(153, 139, 165, 0.856);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-col {
    flex-basis: 33.3%;
}

.nav-col a {
    display: block;
    float: none;
    border: 2px solid red;
}

.nav-col a:hover {
    color: rgb(75, 230, 4);
}