* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, red, orange, green, blue, indigo, violet);
    color: aliceblue;
    margin: 0px;
}

.slideshow {
    z-index: 0;
    padding: 5px;
    border: 3px solid aqua;
}


/* 🖐 */

.clg-row {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.clg-col {
    flex: 25%;
    max-width: 25%;
}

.clg-col img {
    width: 100%;
    vertical-align: middle;
}