* {
    box-sizing: border-box;
}

body {
    background-color: red;
    color: aliceblue;
    margin: 0px;
}

.slideshow {
    background-color: darkkhaki;
    padding: 5px;
    z-index: 0;
}


/*   */

.clg-row {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.clg-col {
    flex: 25%;
    max-width: 25%;
}

.clg-col img {
    width: 100%;
    vertical-align: middle;
}