* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.411), rgba(255, 166, 0, 0.384), rgba(0, 128, 0, 0.466), rgba(0, 0, 255, 0.411), rgba(76, 0, 130, 0.507), violet);
    margin: 0px;
}

.slideshow {
    z-index: 0;
    padding: 5px;
    border: 3px solid aqua;
}


/* 🖐 */

.clg-row {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

.clg-col {
    flex: 25%;
    max-width: 25%;
}

.clg-col img {
    width: 100%;
    vertical-align: middle;
}


/* 🖐 */

.sideNav {
    position: fixed;
    left: 0;
    top: 40%;
    z-index: 1;
}

.sideNav a.sinnbold {
    display: block;
    left: -95px;
    position: relative;
    margin-top: 5px;
    padding: 5px;
    font-size: 25px;
    background-color: rgb(250, 240, 230);
    opacity: 0.8;
    text-decoration: none;
    border-radius: 5px 10px;
    transition: transform 0.3s linear 0s, opacity 0.3s linear 0s;
}

.sideNav a.sinnbold:hover {
    transform: translate(95px, 0px);
    opacity: 1;
}