section {
    display: block;
    margin: auto;
    width: 80%;
}


/* 🖐 */

.bg-vid {
    padding: 10px;
    width: 100%;
    height: 400px;
}


/* 🖐 */

.clearfix {
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#chart {
    float: right;
}


/* 🖐 */

.tabs {
    border: 3px solid whitesmoke;
    padding: 10px;
}

.tabBtns {
    border: 1px solid whitesmoke;
}

.tabBtns button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.tabBtns button.active {
    background-color: rgba(252, 255, 240, 0.404);
}

.tab-content {
    margin-top: 10px;
    content: "";
    clear: both;
    display: table;
    /* display: none; */
}

.tab-content img {
    float: right;
}