section {
    display: block;
    margin: auto;
    width: 80%;
}


/* 🖐 */

.bg-vid {
    padding: 10px;
    width: 100%;
    height: 400px;
}


/* 🖐 */

.clearfix {
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#chart {
    float: right;
}


/* ✋ */

.sec-modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.274);
    padding: 10px;
}

.modal-content {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 5px;
    background-color: rgba(255, 105, 180, 0.897);
    border-radius: 10px 30px;
    border: 2px solid rebeccapurple;
    font-size: 25px;
    animation: fromSkyToEarth 1s linear 0s 1;
}

@keyframes fromSkyToEarth {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modalClose-btn {
    float: right;
    font-weight: bold;
    color: antiquewhite;
    margin-right: 10px;
}

.modalClose-btn:hover {
    color: brown;
    cursor: pointer;
}


/* 🖐 */

.tabs {
    border: 3px solid whitesmoke;
    padding: 10px;
}

.tabBtns {
    border: 1px solid whitesmoke;
}

.tabBtns button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.tabBtns button.active {
    background-color: rgba(252, 255, 240, 0.404);
}

.tab-content {
    margin-top: 10px;
    content: "";
    clear: both;
    display: table;
    /* display: none; */
}

.tab-content img {
    float: right;
}


/* 🖐 */

.team-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-item {
    flex-basis: 30%;
    border: 2px solid rebeccapurple;
    text-align: center;
}

.team-item img {
    width: 100%;
}

.team-member-content {
    padding: 10px;
}

.team-member-contactBtn {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    background-color: rgba(127, 255, 0, 1);
    color: brown;
    font-weight: bold;
    font-size: 25px;
    transition: background-color 0.2s linear 0s;
}

.team-member-contactBtn:hover {
    cursor: pointer;
    background-color: rgba(127, 255, 0, 0.5);
}